<p>
  Start the quiz by selecting a Radio4000 channel to provide the questions and music:
</p>

<ChannelChooser
  @channels={{model.channels}}
  @onSelect={{route-action "setChannel"}}>
</ChannelChooser>

{{outlet}}