{{add-player
  numberOfPlayers=model.players.length
  onSubmit=(route-action 'addPlayer')
}}

{{#if model.players}}
  <ol>
    {{#each model.players as |player index|}}
      <li>
        {{edit-player
            player=player
            removePlayer=(route-action 'removePlayer')
        }}
      </li>
    {{/each}}
  </ol>

  {{else}}

  <p>If there is no player, does the game still exists?</p>
{{/if}}

{{outlet}}