<p>Selected channel: {{model.quiz.channel.title}}</p>

<ul>
  {{#each model.channels as |channel|}}
    <li>
      <button {{action "selectChannel" channel}}>{{channel.title}}</button>
    </li>
  {{/each}}
</ul>

{{outlet}}