<menu>
  <LinkTo @route="index">&larr; Main menu</LinkTo>
</menu>

<h1>About the Quiz</h1>
<p>A music quiz game made from the many channels on <a href="https://radio4000.com">Radio4000</a>.</p>
<p>Find the open source code on <a href="https://github.com/internet4000/quiz-radio4000">github.com/internet4000/quiz-radio4000</a>.</p>

{{outlet}}