<p>
  <small>
    {{#link-to 'quiz.index'}}Quiz {{model.id}}{{/link-to}}
  </small>
</p>

{{outlet}}

{{!--
  {{#if model.players}}
    {{#link-to "quiz.players" title="Change players"}}
      {{model.players.length}} {{playerLabel}}
    {{/link-to}}
  {{/if}}
  --}}

