<p>
  <small>
    <LinkTo @route="quiz.index">
      Quiz Radio4000<br>{{if @model.channel @model.channel.title @model.id}}
    </LinkTo>
  </small>
</p>

{{outlet}}

{{!--
{{#if model.players}}
  {{#link-to "quiz.players" title="Change players"}}
    {{@model.players.length}} {{playerLabel}}
  {{/link-to}}
{{/if}}
--}}

<menu>
  <LinkTo @route="index">Leave quiz</LinkTo>
</menu>
